body {
    background-image: url(../images/BinaryGif.gif);
}

.navbar {
    background-color:rgb(255, 255, 255, .5);
}

a:hover{
    background-color: rgba(0, 255, 191, 0.5);
}

.nav-link {
    margin:0;
    padding: 23px 20px;
}

.navbar {
    padding:0;
}
.navbar-brand {
    background-color: rgba(0, 255, 191, 0.5);
    padding: 20px 20px;
    margin: 0;
}

.container {
    background-color:rgb(255, 255, 255, .5);
    margin-top: 20px;
    padding:20px;
}

#main-header {
    border-bottom: 1px solid rgb(255, 255, 255, .5);
}

#prof-pic {
    opacity:.80;
}

#prof-description {
    font-size: 22px;
}

footer {
    background-color:rgb(255, 255, 255, .5);
}

input {
    width: 100%;
    opacity: .75;
}

#mess-input {
    height: 100px;
}

button {
    background-color: rgba(0, 255, 191, 0.75);
    margin-top:20px;
}

.pic-container {
    position: relative;
    display: inline-block;
    margin:20px;
}

.portfolio-pic {
    width: 200px;
    height: 200px;
    opacity: .75;
}

.port-imag-label {
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 5%;
    background-color: rgba(0, 255, 191, 0.75);
    text-align: center;
}