body {
    background-image: url(../images/BinaryGif.gif);
}

.navbar {
    background-color:rgb(255, 255, 255, .5);
}

a:hover{
    background-color: rgba(0, 255, 191, 0.5);
}

.nav-link {
    margin:0;
    padding: 23px 20px;
}

.navbar {
    padding:0;
}
.navbar-brand {
    background-color: rgba(0, 255, 191, 0.5);
    padding: 20px 20px;
    margin: 0;
}

.container {
    background-color:rgb(255, 255, 255, .5);
    margin-top: 20px;
    padding:20px;
}

#main-header {
    border-bottom: 1px solid rgb(255, 255, 255, .5);
}

#prof-pic {
    opacity:.80;
}

#prof-description {
    font-size: 24px;
}